<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291003584725-7g8imfkiq3epqh10e49pkesg3ij2alum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291003584725-7g8imfkiq3epqh10e49pkesg3ij2alum</string>
	<key>API_KEY</key>
	<string>AIzaSyCeZ78kl18Esk6kn2mavMxsmEHUci2H5-s</string>
	<key>GCM_SENDER_ID</key>
	<string>291003584725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kutumb.meapp</string>
	<key>PROJECT_ID</key>
	<string>kutumb-46160</string>
	<key>STORAGE_BUCKET</key>
	<string>kutumb-46160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291003584725:ios:99789efc6a1b630460d25c</string>
</dict>
</plist>